.main-container {
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  max-width: calc(95% - 20px);
}

.main-container .content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  max-width: calc(95% - 5px);
  gap: 10px;
}

.main-container .content img {
  max-width: 300px;
  border-radius: 20px;
  padding: 0 5px;
}

.main-container .content span {
  color: darkred;
  font-size: 1em;
}

.main-container .heading {
  margin-top: 25px;
  vertical-align: text-bottom;
}

.main-container h2 {
  color: darkred;
}

.main-container p {
  max-width: calc(70%);
  font-size: 1.3em;
  text-align: left;
  margin-left: 10px;
}
