.main-container {
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  align-items: center;
}

.main-container .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 95%;
  margin-bottom: 20px;
}

.main-container .content img {
  max-width: 400px;
  border-radius: 20px;
}

.main-container .content span {
  color: darkred;
  font-size: 1em;
}

h2 {
  color: darkred;
  margin-bottom: 25px;
  margin-top: 20px;
}

p {
  max-width: 65%;
  margin-bottom: 20px;
  font-size: 1.3em;
}
