.main-container {
  display: flex;
  justify-content: center;
}

body {
  display: flex;
}

form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  max-width: 90%;
}

h2 {
  text-align: center;
  color: black;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555555;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: calc(100% - 20px); /* Account for padding */
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  font-size: 1em;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

textarea {
  resize: vertical; /* Allow vertical resizing */
  min-height: 100px;
}

input[type="submit"] {
  background-color: #382716;
  color: white;
  font: 2.5em;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  margin-top: 5px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #7b3306;
}
