.main-container {
  align-items: flex-start;
  justify-content: center;
}

.tblEvents {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: left;
  border-collapse: collapse;
}
.tblEvents th {
  border-top: 1px solid #eca0a0;
  border-bottom: 1px solid #eca0a0;
  padding: 10px;
}
.trBook-Event {
  column-span: all;
  border: 1px solid black;
}

.thEventsDate {
  color: darkred;
  text-align: left;
  font-weight: bolder;
  width: 100px;
}
.thEvents {
  color: darkred;
  text-align: left;
  font-weight: bolder;
  width: 400px;
}
.thLocation {
  color: darkred;
  text-align: left;
  text-align: unset;
  font-weight: bolder;
  width: 200px;
}
.thContact {
  color: darkred;
  text-align: left;
  text-align: unset;
  font-weight: bolder;
  width: 200px;
}
.tblEvents td {
  border-bottom: 1px solid #eca0a0;
  padding: 10px;
}
.tdEvents {
  word-wrap: break-word;
}
.btn {
  background-color: #382716;
  color: white;
  font: 2.5em;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.05s;
  display: inline-block;
  margin-top: 20px;
  border-radius: 20px;
}

.tblEvents h2 {
  color: darkred;
  text-align: left;
  font-weight: bolder;
}

.tblEvents .heading {
  vertical-align: bottom;
}
