body {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

/* styles for the hero section of the home page */
.banner {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/Red-Gables-At-Wolf-Branch.jpg);
  background-size: cover;
}

/* Content section of the banner */
.content {
  max-width: 900px;
}

/* Common styles for the headings in the content section */
.banner .content h1 {
  font-size: 4em;
  font-weight: 400;
}

/* Specific styles for the h2 heading. */
.banner .content h2 {
  font-size: 3em;
  font-weight: 400;
}

.banner .content h3 {
  font-size: 2em;
  margin-top: 20px;
  font-weight: 400;
}

.banner .content h4 {
  font-size: 1.5em;
  margin-top: 40px;
  font-weight: 400;
}

.banner .content .btn {
  color: white;
  background-color: rgb(5, 42, 5);
  font: 2.5em;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.05s;
  display: inline-block;
  margin-top: 20px;
  border-radius: 20px;
}
