.banner {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/Red-Gables-At-Wolf-Branch-Doctored.jpg);
  background-size: cover;
}

.content {
  max-width: 900px;
  text-align: center;
}

.banner .content h1,
h2 {
  color: white;
  font-size: 4em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.banner .content h2 {
  color: white;
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.banner .content h3 {
  color: white;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 20px;
}

.banner .content h4 {
  color: white;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 40px;
}

.banner .content p {
  color: white;
  font-size: 2em;
  margin-top: 20px;
}

.banner .content .btn {
  background-color: #382716;
  color: white;
  font: 2.5em;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.05s;
  display: inline-block;
  margin-top: 20px;
  border-radius: 20px;
}
